.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 80px;
}

.team-member {
  align-items: center;
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0 12px 24px;
  max-width: 100%;
  width: calc(33.33% - 24px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.team-member--image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 12px 12px 0 0;
}
.team-member--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1);
}
.team-member--content {
  padding: 24px;
  width: 100%;
}
.team-member--name,
.team-member--position,
.team-member--bio {
  width: 100%;
}
.team-member--name {
  font-size: 24px;
  margin: 0 0 12px;
}
.team-member--position {
  font-size: 16px;
}
.team-member--bio {
  font-size: 14px;
}

@media screen and (max-width: 900px) {
  .team-member {
    width: calc(50% - 24px);
  }
}
